/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.toLog form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 2px solid #c1baba;
    padding: 30px 10px;
    background: aliceblue;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
.logIn {
    padding: 10px;
    cursor: pointer;
    background: darkgray;
    border: unset;
    /*line-height: 100%;*/
    text-align: center;
}
a {
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
}
p {
    padding: 10px 0;
}
.radioButton {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.radioButton label{
    padding: 6px 15px;
}
.msg {
    color: #dc0b0b;
    font-weight: bold;
    text-align: center;
}
div.main {
    background: #ece8e8;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 3px;
}
div.headerM a.logout {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #d95a5a;
}
div.header a.logout {
    float: right;
    display: block;
    margin: 10px;
    padding: 10px;
    background: #d95a5a;
}
div.header {
    height: 100px;
    padding: 20px;
    background: #c1baba;
}

div.headerM {
    height: 100px;
    padding: 20px;
    background: #c1baba;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex {
    display: flex;
    border: 2px solid #c1baba;
    padding: 10px 10px;
    background: #c1cea8;
    justify-content: space-around;
    margin-bottom: 20px;
}
.flex select {
    appearance: none;
// Additional resets for further consistency
background-color: transparent;
    border: none;
    padding: 0 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
.content {
    width: 85%;
    margin:0 auto;
    padding: 20px 0;
}
.content form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.button {
    background: #d9cc5a;
    border-radius: 2px;
    padding: 5px 10px;
}
